.navbar.navbar-default
    .container
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a.navbar-brand(href="/") 首页
                li
                    a.navbar-link(href="/user/register") 注册
                li
                    a.navbar-link(href="/user/login") 登录
                li
                    a.navbar-link(href="/user/userlist") 用户列表
